.utils {
  font-size: 24px;
  text-align: right;
  margin: 4px 0px;
}

.utils i {
  margin: 0 16px;
}

.supImgContainer {
  position: relative;
  display: inline-block;
  /* margin-top: 20vh; */
}

.scImage {
  width: 100vw;
  /* height: 90vh; */
  opacity: 0.5;
}

.supContent {
  position: absolute;
  top: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}

.supContent p {
  font-size: 24px;
  text-align: center;
}
